<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borussia Dortmund Tribute</title>
</head>

<body>
    <h1>BVB Tribute Page</h1>
    <p>Ballspielverein Borussia 09 Dortmund, commonly known as Borussia Dortmund, BVB, or simply Dortmund, is a German
        professional sports club based in Dortmund, North Rhine-Westphalia. It is best known for its men's professional
        football team, which plays in the Bundesliga, the top tier of the German football league system.
        The club have won eight league championships, four DFB-Pokals, one UEFA Champions League, one Intercontinental
        Cup, and one UEFA Cup Winners' Cup.</p>
    <p>Founded in 1909 by eighteen football players from Dortmund, the football team is part of a large membership-based
        sports club with more than 145,000 members, making Borussia Dortmund the second largest sports club by
        membership in Germany. The club has active departments in other sports, namely in women's handball.
        Since 1974, Dortmund have played their home games at Signal Iduna Park; the stadium is the largest in Germany,
        and Dortmund has the highest average attendance of any association football club in the world.
        Borussia Dortmund's colours are black and yellow, giving the club its nickname die Schwarzgelben. They hold a
        long-standing rivalry with Ruhr neighbours Schalke 04, with whom they contest the Revierderby. They also contest
        Der Klassiker with Bayern Munich.</p>
    <p>In terms of Deloitte's annual Football Money League, Dortmund was in 2015 ranked as the second richest sports
        club in Germany, and the 12th richest football team in the world. Moreover, under the directorship of Michael
        Zorc in the 2010s, Dortmund have cultivated a reputation for spotting and developing young talent, and have
        remained focused on developing a youth system.They have also received plaudits for generally adhering to an
        attacking footballing philosophy.</p>
    <a href="https://www.bvb.de/eng">go to team's page</a>
</body>

</html>